
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Neuton:wght@400;700;800&family=Playfair+Display:wght@712;900&family=Rozha+One&family=Volkhov&family=Work+Sans:wght@529&family=Berkshire+Swash&family=Yeseva+One&display=swap');
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: $fuente-cuerpo;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    font-family: $fuente-menu;
    color: $text-color-b;
}

a:hover{
    color: $hover-color;
    cursor: pointer;
}

img{
    width: 100%
}
