/*Colores*/
$principal: #c06c28;
$secundario: #a156c4;
$text-color-w: white;
$text-color-b:black;
$hover-color: #4d0000;
$menu-color: #A15F20;
$resaltar-color: #8a5bb6;

/*Espaciados*/
$large-esp: 4rem;
$medium-esp: 2.5rem;
$small-esp: 1.5rem;
$xsmall-esp: 0.5rem;

/*Fuentes*/
$fuente-titulos:'Rozha One', serif;
$fuente-cuerpo:'Work Sans', sans-serif;
$fuente-menu:'Work Sans', sans-serif;

/*Tamaño de fuente rem o em*/
$h1-font-size: 12em;
$xlarge: 8em;
$xxlarge: 6em;
$large: 4em;
$medium: 3em;
$small: 2em;
$xsmall: 1em;
$menu-font-size: 1.5em;


