main{
    width: 100%;
    .div__form{
        display: flex;
        justify-content: center;
    }

    form{
        @include flex (column, space-around, center, $small);
        font-size: $small;
        font-family: $fuente-cuerpo;
        }
    
    form div{
        padding: 0.2em;
    }
    .btn{
        font-size: 0.5em;
        font-family: $fuente-cuerpo;
    }

}

