footer{
    padding: $small-esp;

}

    footer a{
        @include texto ($fuente-cuerpo, $xsmall, 100, center, $text-color-b);
        padding: 1.5em 1em 10px 1em;
        text-decoration: none;
        color: $text-color-b;
        &:hover{
            color: rgb(68, 14, 66);
        }
    }

    footer p{ 
        display: flex;
        justify-content: center;
        @include texto ($fuente-cuerpo, $xsmall, 100, center, $text-color-b);
        padding: 1.5em 1em 10px 1em;
    }

    .insta_white{
    color: $menu-color;
    }

@media screen and (max-width: 450px) {
    footer{
        padding: 0.1;
        align-content: center;
        flex-direction: column;
    }
    footer a{
        padding: 0.2em;
        }
    footer p{ 
        padding: 0.2em
    }
}
