body{
    background-image: radial-gradient(circle, #f3bfe7, #e6c0ec, #d8c1ee, #cac1ef, #bdc2ee, #b6c8f1, #b2cef1, #afd3f1, #b6dff4, #c1eaf7, #d0f5f9, #e1fffd);
}

main{
    width: 100%;
    h1{
        @include title (center, 0.5em 0 0.5em 0)
    }
    .main__section{
            padding: 1em 1em 14em 2em;
            p{
            @include texto ($fuente-cuerpo, $large, 200, right, $text-color-b);
            }
    }
    
    @keyframes span_animation {
        0% {color:#a156c4;}
        25% {color:#ff7400;}
        50% {color:#008000;}
        75% {color:#f63737;}
        100% {color:#a156c4;}
    }
    
    .section__span{
        color: #a156c4;
        animation-name: span_animation;
        animation-iteration-count: infinite ;
        animation-timing-function: linear;
        animation-duration: 4s;
        animation-delay: 1s;
    }
    
}


/*@media only screen and (min-width: 601px) and (orientation: landscape) {
    .main__section p{
        @include texto ($fuente-cuerpo, $large, 200, right, $text-color-b);
    }
  }*/