
.nosotras__div__section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nosotras__div__article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_nosotras{
    width: 20vw;
    height: auto;
    border-radius: 1rem;
    transition: width 2s, height 2s;
}

.img_nosotras:hover{
    width: 25vw;
    height: auto;
}

h3{
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem ;
    font-weight: 900px;
    padding: 0.5em;
    color:white;
}

.nosotras__article__bio{
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem ;
    color:white;
}

.insta__nosotras{
    font-size: 2rem ;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color:#cb99c9;
}
.div__colaboradores{
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

.article__colaboradores{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ul__nosotras{
    text-align: center;
}





.nosotras__article__bio{
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem ;
    color:white;
}

.ul__nosotras{
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem ;
    color:white;
    list-style: none;
}
