
.nosotras__div__section{
    @include flex (row, space-around, center, 0);
}

.nosotras__div__article{
    @include flex (column, center, center, 1em 0 0 0);
}

.img_nosotras{
    width: 30rem;
    height: auto;
    border-radius: 100px 100px 1px 1px;
    transition: width 2s, height 2s;
}

@media screen and (max-width: 600px) {
    .img_nosotras:hover{
    width: 35rem;
    height: auto;
    }
}



h3{
    @include texto ($fuente-cuerpo, $large, 900px, center, $text-color-w);
    padding-top: 0.5em;
}

.nosotras__article__bio{
    @include texto ($fuente-cuerpo, $small, 900px, center, $text-color-w);
    padding-top: 0.2em;
}

.insta__nosotras{
    @include texto ($fuente-cuerpo, $medium, 900px, center, $resaltar-color);
    padding-top: 0.5em;
}
.div__colaboradores{
    @include flex (column, left, left, 3em 0 1em 0);
}

.ul__nosotras{
    @include texto ($fuente-cuerpo, $small, 900px, center, $text-color-w);
    padding-top: 0.2em;
}
