#ultimos{
    padding-top: 10rem;
}

h3{
    font-family: $fuente-titulos;
    font-size: $xxlarge;
    font-weight: 400;
    text-align: left;
    color: $text-color-w;
    padding: 0.5em 1em 0.5em 0.5em;
    }

@media screen and (max-width: 600px) {
h3 {
    font-size: $medium;
}
}

.carousel{
    width: fit-content;
    height: fit-content;
}

.div__carousel{
    display: flex;
    justify-content: center;
}

.img_proyectos{
    width: 40vw;
    height: auto;
    border-radius: 0.5rem;
}

@media screen and (max-width: 600px) {
    .img_proyectos{
    width: 35rem;
    height: auto;
    border-radius: 0.5rem;
    }
}

#premiados{
    padding: 10rem 0 3rem 0;
}

.premiados{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


.card_premiado{
    padding: 0.5rem 0 0 0;
}

.card{
    padding: 1rem;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
}