.container__form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div__form__trabaja{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;        
    background: rgba( 59, 125, 206, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

form{
    @include flex (column, space-around, center, $small);
    font-size: $medium;
    font-family: $fuente-cuerpo;
    }

.form__item{
    @include flex(column, center, center, 0.8em 0 0.5em 0);
    text-align: center;
}

.form-control{
    font-size: 0.5em;
    text-align: center;
}

#consulta{
    text-align: left;
}


.css-button-arrow--sky {
    width: fit-content;
    height: fit-content; 
    color: #fff;
    padding: 5px 10px;
    font-weight:lighter;
    font-size: 0.7em;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: rgba(21, 137, 183, 0.753)
  }
  .css-button-arrow--sky:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
    background-color: rgba(0, 72, 130, 0.753)
  }
  .css-button-arrow--sky:hover:after {
    opacity: 1;
    right: 10px;
  }
  .css-button-arrow--sky:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }