/*VARIABLES*/
@import './otras/variables';

/*NORMALIZADOR*/
@import './otras/normalize';

/*MIXINS*/
@import './otras/mixins';

/**/


/*PARTIALS*/
@import './partials/header';
@import'./partials/footer';
@import './partials/index';@import './partials/nosotras';
@import './partials/proyectos';
@import './partials/prensa';
@import './partials/contacto';
@import './partials/trabaja';
