/*VARIABLES*/
@import './otras/variables';

/*NORMALIZADOR*/
@import './otras/normalize';

/*MIXINS*/
@import './otras/mixins';

/*PARTIALS*/
@import './partials/header';
@import './partials/contacto';